<div>
  <h2 id="page-heading" data-cy="LocationHeading">
    <span jhiTranslate="gatewayApp.purchasingLocation.home.title">Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.purchasingLocation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-location"
        [routerLink]="['/location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.purchasingLocation.home.createLabel"> Create a new Location </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
    <span jhiTranslate="gatewayApp.purchasingLocation.home.notFound">No locations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="locations && locations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="locationNumber">
            <span jhiTranslate="gatewayApp.purchasingLocation.locationNumber">Location Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationName">
            <span jhiTranslate="gatewayApp.purchasingLocation.locationName">Location Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="location">
            <span jhiTranslate="gatewayApp.purchasingLocation.location">Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city">
            <span jhiTranslate="gatewayApp.purchasingLocation.city">City</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="state">
            <span jhiTranslate="gatewayApp.purchasingLocation.state">State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="county">
            <span jhiTranslate="gatewayApp.purchasingLocation.county">County</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="gatewayApp.purchasingLocation.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pharmacyHours">
            <span jhiTranslate="gatewayApp.purchasingLocation.pharmacyHours">Pharmacy Hours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="gatewayApp.purchasingLocation.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address.id">
            <span jhiTranslate="gatewayApp.purchasingLocation.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let location of locations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a>
          </td>
          <td>{{ location.locationNumber }}</td>
          <td>{{ location.locationName }}</td>
          <td>{{ location.location }}</td>
          <td>{{ location.city }}</td>
          <td>{{ location.state }}</td>
          <td>{{ location.county }}</td>
          <td>{{ location.phoneNumber }}</td>
          <td>{{ location.pharmacyHours }}</td>
          <td jhiTranslate="{{ 'gatewayApp.LocationType.' + location.type }}">{{ location.type }}</td>
          <td>
            <div *ngIf="location.address">
              <a [routerLink]="['/address', location.address?.id, 'view']">{{ location.address?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/location', location.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/location', location.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(location)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
