<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="packaging">
      <h2 data-cy="packagingDetailsHeading"><span jhiTranslate="gatewayApp.inventoryPackaging.detail.title">Packaging</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ packaging.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.name">Name</span></dt>
        <dd>
          <span>{{ packaging.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.quantity">Quantity</span></dt>
        <dd>
          <span>{{ packaging.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.grosWeight">Gros Weight</span></dt>
        <dd>
          <span>{{ packaging.grosWeight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.netWeight">Net Weight</span></dt>
        <dd>
          <span>{{ packaging.netWeight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.length">Length</span></dt>
        <dd>
          <span>{{ packaging.length }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.width">Width</span></dt>
        <dd>
          <span>{{ packaging.width }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.inventoryPackaging.height">Height</span></dt>
        <dd>
          <span>{{ packaging.height }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/packaging', packaging.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
